
  <li class="group">
    <div class="container-comments group">
      <image class="user-image-comments" src="<%= user.escape('that_url') %>">
        <div class="user-container-comments">
          <% if (typeof user !== 'undefined') { %>
          <h2><%= user.escape('user_name') %></h2><figure>on <%= user.escape('comment_date') %></figure>
          <p><%= user.escape('comment') %></p>
          <% } %>
      </div>
    </div>

  </li>
