
  <li class="group user_backer_list">
    <div class="container-backer group">
      <image class="user-image-backer" src="<%= user.escape('that_url') %>">
        <div class="user-container-backer">
          <% if (typeof user !== 'undefined') { %>
          <h2><%= user.escape('backer_username') %></h2>
          <p>Backed <%= user.escape('other_backed_projects') %> projects</p>
          <p><%= user.escape('bio') %></p>
          <% } %>
      </div>
    </div>

  </li>
