<div class="project-nav-element project-nav-element-active" id="home">
  Home
</div>
<% if (number_of_backers > 0) { %>
<div class="project-nav-element group"  id="backers">
  Backers
      <div class="qty-for-nav-element">
        <%= number_of_backers %>
      </div>
</div>
<% } %>

<% if (number_of_comments > 0) { %>
<div class="project-nav-element group"  id="comments">
  Comments
    <div class="qty-for-nav-element">
      <%= number_of_comments %>
    </div>
</div>
<% } %>
