
  <a href="#/project/reward/<%= reward.escape('id') %>">
  <h4>$<%= reward.escape('pledge_amt') %> pledge<h4>
  <p>Backed <%= reward.escape('times_backed')%> times</p>
  <p><%= reward.escape('description') %><p>
  </a>
