

<form class="project-reward-form">
  <input type="hidden" name="_method" value="">
   <input type="hidden" name="reward[project_id]" value="<%= project.id %>">

    <br>
  <label for="pledge">Pledge</label>
    <br>
  <input type="text" name="reward[pledge_amt]" value="" id="pledge">
    <br>
  <leabel for="description">Description</leabel>
    <br>
  <textarea id="description" name="reward[description]"></textarea>
    <br>
  <label for="estimated_delivery">Estimated Delivery</label>
    <br>
  <input type="date" name="reward[est_delivery]" value="" id="estimated_delivery">
    <br>
  <label for="limited_quantity">Limited Quantity</label>
    <br>
  <input type="text" name="reward[qty]" value="" id="limited_quantity">

  <button id="reward-button-save">Save</button>
</form>

<button id="new-reward">Add New Reward</button>
