<dive class="reward-project">
  <a href="">

  <h3>reward</h3>
  <p>pledge $<%= reward.escape('pledge_amt') %></p>
  <p><%= reward.escape('times_backed')  %> Backers</p>
  <p>Desription</p>
  <p><%= reward.escape('description') %></p>
  </a>
</dive>