

<form data-id="story">
  <input type="hidden" name="_method" value="">
   <input type="hidden" name="stories[project_id]" value="">

    <br>
  <label for="description">Description</label>
    <br>
  <textarea name="stories[story]" id="description"></textarea>
    <br>
  <label for="challenge">Challenges</label>
    <br>
  <textarea name="stories[challenges]" id="challenge"></textarea>
    <br>
  <input type="submit" value="save">
</form>
