<div class="background-project">
  <div class="user-edit">


  <div class="project-runner">
    <div class="container">
        <h2></h2>
        <div class="menue group">
            <ul>
            <li class="float-left" ><a class="new-menu-box" id="basic-info-new-project">Basic Info</a></li>
            <li class="float-left" ><a class="new-menu-box" id="reward-info-new-project">Rewards</a></li>
            <li class="float-left" ><a class="new-menu-box" id="story-info-new-project">Story</a></li>
            <li class="float-left" ><a class="new-menu-box" id="about-info-new-project">About You</a></li>

            </ul>
        </div>

    </div>

  </div>

  <div class="project-main group">

    <div class="project-body group">


</div>

<div class="right-container">


</div>



</div>
</div>
