<div class="background-project">
  <div class="user-edit">


  <div class="project-runner">
    <div class="container">
        <h2></h2>
        <div class="menue group">
            <ul>
            <li class="float-left" ><a class="new-menu-box" id="basic-info-new-project">Basic Info</a></li>
            <li class="float-left" ><a class="new-menu-box" id="reward-info-new-project">Rewards</a></li>
            <li class="float-left" ><a class="new-menu-box" id="story-info-new-project">Story</a></li>
            <li class="float-left" ><a class="new-menu-box" id="about-info-new-project">About You</a></li>

            </ul>
        </div>

    </div>

  </div>

  <div class="project-main group">





    <form class="update-settings-form project-story-form">
      <image class="user-image-edit" src="">
      <label for="photo">Upload Your Picture</label>

      <input type="file" class="my-photo-upload" id="photo">
      <input type="hidden" name="stories[project_id]" value="">
        <br>
      <label for="description">Description</label>
        <br>
      <textarea name="stories[story]" id="description"></textarea>
        <br>
      <label for="challenge">Challenges</label>
        <br>
      <textarea name="stories[challenges]" id="challenge"></textarea>
        <br>

        <a href="" class="save-story-next submit">Save Settings</a>
    </form>


</div>

<div class="right-container">


</div>



</div>
</div>
