
<div><a href=""><%= project.escape('username') %></a></div>
<div><a href=""><%= project.escape('users_backed_projects') %> Backed</a></div>
<div><a href=""><%= project.escape('users_projects') %> Created</a></div>

