<!-- <%= render 'shared/header_and_errors' %> -->

<h1>Sign In</h1>

<form action="<%= session_url %>" method="POST">

  <%= form_auth %>

  <label for="email">Email</label>
    <br>
  <input type="text" name="user[email]" id="email" value="<%= @user.email %>">
    <br>
  <label for="pass">Password</label>
    <br>
  <input type="password" name="user[password]" id="pass">
    <br>
  <input type="submit" value="Submit">
</form>