<div class="container">
  <div class="catagory-container group">
    <ul class="group">
    <% @cats.each do |cat| %>

    <a href="" class="cat">
      <%= cat %>
    </a>

    <% end %>
    </ul>
  </div>
</div>