<li class="project-show-li-in-user-show">
  <div class="project-user-show-container">
    <a href="#/project/<%= project.escape('id') %>">
      <img src="<%= project.escape('that_url') %>" >
      <div class="hover-color"></div>
      <div class="prject-description-hover-user-show">
          <%= project.escape('description') %>
      </div>
    </a>
    <h5><%= project.escape('title') %></h5>
  </div>

</li>
