<div class="runner-bord group">
  <div class="container">
    <image class="user-image" src="<%= user.get('that_url') %>">
      <div class="user-container">
        <% if (typeof user !== 'undefined') { %>
        <p><%= user.escape('username') %></p>
        <p><%= user.escape('bio') %></p>
        <% } %>
    </div>
  </div>
</div>
