<div class="runner-board group">
  <div class="container">
    <image class="user-image">
      <div class="user-container">
        <% if (typeof user !== 'undefined') { %>
        <p><%= user.escape('username') %></p>
        <p><%= user.escape('bio') %></p>
        <% } %>
    </div>

  </div>
</div>
