<li class="user-comment-li-user-show">
  <div class="user-comment-user-show-container">
    <p>
      <%= comment.escape('comment') %>
    </p>
    <a href="#/project/<%= comment.escape('project_id') %>"><%= comment.escape('comment_date') %></a> on <h5><%= comment.escape('project_title') %></h5>
  </div>
</li>
