<li class="user-comment-li-user-show">
  <div class="user-comment-user-show-container">
    <figure>"</figure><p><%= comment.escape('comment') %></p>
    <div>
      <a href="#/project/<%= comment.escape('project_id') %>"><%= comment.escape('comment_date') %></a> on <h5><%= comment.escape('project_title') %></h5>
    </div>
  </div>
</li>
