<h1>Sign Up</h1>

<form action="<%= users_url %>" method="POST">

  <%= form_auth %>

  <label for="email">Email</label>
    <br>
  <input type="text" name="user[eamil]" id="email">
    <br>
  <label for="pass">Password</label>
    <br>
  <input type="password" name="user[password]" id="pass">
    <br>
  <input type="submit" value="Submit">
</form>