<%= render "userprofile" %>
<div class="container group">
  <!-- <div class="projects-blurb-list">
    <p>Your Projects</p>
    <ul>
      <% current_user.projects.each do |project| %>

        <li><%= render partial: "projects/project_image_title", locals: { project: project } %></li>

      <% end %>
    </ul>
  </div> -->

    <p>Projects You Backed</p>
      <% current_user.backed_projects.each do |project| %>

         <div><%= render partial: "projects/project_image_title", locals: { project: project } %></div>

      <% end %>

</div>