<div class="user">
  <% bio = current_user.user_bio %>
<h1><%= bio.username %></h1>
<p><%= bio.bio %></p>

<div class="projects-blurb-list">
  <p>Your Projects</p>
  <ul>
    <% current_user.projects.each do |project| %>

      <li><%= render partial: "projects/projectblurb", locals: { project: project } %></li>

    <% end %>
  </ul>
</div>
<div class="projects-blurb-list">
  <p>Projects You Backed</p>
  <ul>
    <% current_user.backed_projects.each do |project| %>

      <li><%= render partial: "projects/projectblurb", locals: { project: project } %></li>

    <% end %>
  </ul>
</div>
</div>