<div class="project-thumnail group">
  <a href="/#/project/<%= id %>" class="float-left">
    <img class="project-image-thumnail float-left"src="<%= that_url %>">
    <div class="project-decription-container">
      <%= title.slice(0,15) + "..." %>
    </div>
  </a>
</div>
