<div class="project-thumnail group">
  <a href="/#/project/<%= project.escape('id') %>" class="float-left">
    <img class="project-image-thumnail float-left"src="<%= project.get('that_url') %>">
    <div class="project-decription-container">
      <%= project.escape('title').slice(0,15) + "..." %>
    </div>
  </a>
</div>
