<div class="show-main">
  <head class="project-head group">
    <h2><%= @project.title %></h2>
    <a href=""><%= @project.user.user_bio.username %></a>
    <a><%= @project.catagorie %></a>
  </head>
</div>