<div class="modal" id="contact-modal">
  <div class="head-in-contact-modal">
    <figure>&times;</figure>
  </div>
  <div class="body-in-contact-modal">
    <form class="make-comment-form">
      <input type="hidden" name="comment[user_id]" value="<%= KS.currentUserId %>">
      <input type="hidden" name="comment[project_id]" value="<%= project_id %>">
      <textarea name="comment[comment]"></textarea>

      <a id="post-comment" class="submit">Post Comment</a>
    </form>
  </div>
</div>
