/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body, html {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

body, html, a, div, ul, h1, p {
  padding: 0;
  margin: 0;
  border: none;
  font-style: sans-serif;
}

button, input, textarea {
  display: inline-block;
  box-sizing: content-box;
  -webkit-apperance: none;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  vertical-align: baseline;
}

a, p, h1, h2, h3 {
  text-decoration: none;
}

body, html {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.header {
  height: 62px;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid lightgray;
  background: white;
}



.title {
  float: left;
  font-weight: bold;
  font-size: 2em;
  font-style: sans-serif;
  padding: 10px;
}

.discover-start {
  float: left;
  max-height: 100%;
  width: 80px;
  margin: 20px;
}


.signin-out-or-me {
  max-height: 100%;
}

.hidden {
  display: none;
}

.runner-board {
  height: 220px;
  width: 100%;
  background: #F7F7F7;
  border-bottom: 1px solid lightgray;
}

form {
  margin-left: 20px;
}

.float-left {
  float: left;
}

.main-body {
  display: absolute;
    // margin-top: 62px;
}
