/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body, html {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

body, html, a, div, ul, h1 {
  padding: 0;
  margin: 0;

}

a, p, h1, h2, h3 {
  text-decoration: none;
}

body, html {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.header {
  height: 62px;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid lightgray;
  background: white;
}



.user-info-header-dropdown {
  margin-top: 62px;
  position: absolute;
  right: 0;
  width: 200px;
  height: auto;
  padding: 10px;
  border: 1px solid lightgray;
  background: white;
  z-index: 1;
}

.user-tab {
  position: absolute;
  float: right;
  right: 0;
  top: 0;
  min-width: 80px;
  max-height: 100%;
  border-left: 1px solid lightgray;
  padding: 20px;
  right: 0;
  text-align: center;
}

.title {
  float: left;
  font-weight: bold;
  font-size: 2em;
  font-style: sans-serif;
  padding: 10px;
}

.discover-start {
  float: left;
  max-height: 100%;
  width: 80px;
  margin: 20px;
}

.form {
  margin-left: 40px;
}

.signin-out-or-me {
  max-height: 100%;
}

.hidden {
  display: none;
}

.runner-board {
  height: 220px;
  width: 100%;
  background: #F7F7F7;
  border-bottom: 1px solid lightgray;
}