/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@font-face {
  font-family: 'RNS BARUTA BLACK';
  src: url('http://www.fontsaddict.com/fontface/rns-baruta-black.TTF');
}

body, html {
  position: relative;
  min-height: 100%;
}

body, html, a, div, ul, h1, h1, h2,
h3, h4, p, button, input, textarea {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  text-decoration: none;
  text-align: inherit;
  vertical-align: baseline;
}

body {
  font-family: sans-serif;
}

button, input, textarea {
  display: block;
  box-sizing: content-box;
  -webkit-apperance: none;

}

h1 {
  font-size: 55px;
  font-weight: bold;
}

h3 {
font-size: 30px;
font-weight: bold;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.header {
  // height: 62px;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid lightgray;
  background: white;
}



.title {
  float: left;
  font-weight: bold;
  font-size: 1.7em;
  padding: 20px;
  padding-left: 40px;
  // padding-top:15px;
  height: 30px;
  width: 200px;
  font-family: RNS BARUTA BLACK;
  // background: image-url("kickstarter-logo.png") no-repeat center;
}

.starter {
  position: relative;
  left: -7px;
  // color: #87c442;
  color: #11cc77;

}

#main-links{
  padding-left: 20px;
  padding-right: 20px;
}

.discover-start {
  vertical-align: baseline;
  // height: 30px;
  float: left;
  color: #999;
  max-height: 100%;
  width: 80px;
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 10px;
}


.signin-out-or-me {
  max-height: 100%;
}

.hidden {
  display: none;
}

.runner-bord {
  height: 220px;
  width: 100%;
  background: #F7F7F7;
  border-bottom: 1px solid lightgray;
}

form {
  margin-left: 20px;
}

.float-left {
  float: left;
}

.main-body {
  display: absolute;
    // margin-top: 62px;
}

button, input, textarea {
    border: 1px solid #ccc;
}

button {
  cursor: pointer;
}

.front-page {
  color: white;
  position: relative;
  display: block;
  height: 800px;
  background: image-url("front-page17.gif") no-repeat center;
  background-size: 100%;
}

.front-title {

  display: block;
  font-size: 100px;
  text-align: center;
  padding-top: 200px;

}

.font-title > p {

}

.front-page {
  color: white;
  position: relative;
  display: block;
  height: 800px;
  // background: image-url("front-page.gif") no-repeat center;
  background-size: 100%;
}

.front-page1 {
  color: white;
  position: relative;
  display: block;
  height: 800px;
  background: image-url("front-page17.gif") no-repeat center;
  background-size: 100%;
}

.front-page2 {
  color: white;
  position: relative;
  display: block;
  height: 800px;
  background: image-url("front-page2.gif") no-repeat center;
  background-size: 100%;
}

.front-page3 {
  color: white;
  position: relative;
  display: block;
  height: 800px;
  background: image-url("front-page2.gif") no-repeat center;
  background-size: 100%;
}


form label {
  font-weight: bold;
  padding: 20px 0 10px 0;
  display: block;

}

form input, textarea {
  display: block;
  padding: 10px 5px;
  // margin: 5px 5px 5px 0;
  border-radius: 5px;

}

form {
  width: 400px;
}

textarea {
  height: 75px;
}

input.my-photo-upload::-webkit-file-upload-button {
  visibility: hidden;
  text-align: right;
}
