// Place all the styles related to the catagories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//.container {
//  height: 640px;
//  left: 0;
//  right: 0;
//  position: absolute;
//  background: lightgray;
//}
.container {
  background: transparent;
}

.container-show {
  max-height: 220px;
  width: 1200px;
  margin: auto;

}
.catagory-container li {
  float: left;
  border: 1px solid lightgray;
  background: white;
  border-radius: 3px;
  margin: 5px;
  text-align: center;
  font-size: 20px;
  color: #888;
}

.cat {
  display: block;
  width: 177px;
  height: 60px;
  border: 1px solid lightgray;
  background: white;
  border-radius: 3px;
  padding-top: 40px;
  text-align: center;
  font-size: 20px;
  color: #888;
}

.catagory-container > ul {
  padding-top: 30px;
  background: transparent;
}
.catagory-container {
  width: auto;
  margin: 0 auto;
  background: transparent;
}

div.back > div.project-runner > div.container > h2 {
  font-size: 60px;
  color: #333;
}

div.project-runner {
  background: transparent;
  height: 150px;
}

div.catagory-container li:nth-child(1) a {
  transition: all 0.2s;

  &:hover {
    background: #39e;
    color: #fff;
  }
}

div.catagory-container li:nth-child(2) a {
  transition: all 0.2s;
  &:hover {
    // background: #3ef;
    background: image-url("backgound9.jpg") no-repeat center;
    color: #fff;
  }
}

div.catagory-container li:nth-child(3) a {
  transition: all 0.2s;
  &:hover {
    background: #f8f;
    color: #fff;
  }
}

div.catagory-container li:nth-child(4) a {
  transition: all 0.2s;
  &:hover {
    // background: rgb(55,100,200);
    // opacity: 0.7;
    background: transparent;
    background: image-url("background9.png") no-repeat center;
    color: #555;
  }
}

div.catagory-container li:nth-child(4) {
  transition: all 0.2s;
  &:hover {
    background: #f8f;
    // opacity: 0.2;
    // background: image-url("bacground1.jpg") no-repeat center;
    color: #FFF;
    // font-weight: bold;
  }
}

div.catagory-container li:nth-child(5) a {
  transition: all 0.2s;
  &:hover {
    background: #f8a;
    color: #fff;
  }
}



.back {
  // color: white;
  position: relative;
  display: block;
  height: 800px;
  // background: red;
  background: image-url("baground2.jpg") no-repeat center;
  background-size: 100%;
}

ul {
  list-style: none;
  float: left;
  width: 1200px;
}


div.catagory-list {
  background: #f8a;
  height: 300px;
}

div.catagory-list  div.container  h2 {
  padding-top: 100px;
  font-size: 80px;
  color: #333;
}

li.project-thum-catagor-list {
  display: block;
  border: none;

}



a.project-thum-catagory-a {

  display: block;
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 10px;
  height: 420px;
  width: 230px;

}

a.project-thum-catagory-a > img {
  display: block;
  width: 100%;
  height: 150px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}


.catagory-container-show {
  width: auto;
  margin: 0 auto;
  background: transparent;
}

.catagory-container-show li {
  float: left;
  background: white;
  border-radius: 3px;
  margin: 5px;
  text-align: center;
  font-size: 20px;
  color: #888;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;

}

.catagory-container-show li a {
  position: relative;
}
.catagory-container-show li a h4{
  color: #444;
  text-align: left;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 10px 0px 10px;
}

.catagory-container-show li a h5{
  color: #999;
  text-align: left;
  font-size: 13px;
  padding: 10px 10px 0px 10px;;
  margin: 0;
}

.catagory-container-show li a p{
  color: #999;
  text-align: left;
  font-size: 13px;
  padding: 10px 10px 0px 10px;;
  margin: 0;
}


.catagory-container-show li ul{
  display: block;
  float: left;
  position: absolute;
  bottom: 0px;
  // height: 70px;
  width: 210px;
  padding: 10px;
  // background: blue;
  margin-bottom: 0px;

}

.catagory-container-show li ul li{
  display: inline-block;
  padding: 0;
  border: 0;
  // height: 60px;
  // width: 70px;
  margin: 0px;
}

.catagory-container-show li a ul li p {
  padding-top: 0px;
}

.percent-bar {
  display: block;
  float: left;
  position: absolute;
  bottom: 60px;
  left: 0px;
  height: 10px;
  width: 210px;
  margin: 0 10px 0 10px;
  border-radius: 20px;
  overflow: hidden;
}

.color-container {
  position: relative;
  height: 100%;
  width: 210px;
  // margin: 0 10px 0 10px;
  border-radius: 10px;
}

.gray {
  background: #ddd;
  display: block;
  float: left;
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 10px;
  width: 210px;
  // margin: 0 10px 0 10px;
  border-radius: 10px;
}

.green {
  background:  #11cc77;
  display: block;
  float: left;
  position: absolute;
  bottom: 0px;
  // left: -210px;
  height: 10px;
  width: 210px;
  // margin: 0 10px 0 10px;
  border-radius: 10px;
  z-index: 4;
}
