// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project-thumbnail-large {
  float: left;
}

.right-container {
  float: right;
  width: 280px;
  max-height: 100%;
}

.project-main {
  position: relative;
  max-height: auto;
  margin: auto;
  margin-bottom: 80px;
  width: 960px;
  border: 1px solid lightgray;
  background: white;
  border-radius: 4px;
  padding: 30px 20px 30px 20px;
}

.project-runner {
  height: 185px;
  width: 100%;
  background: #fff;
  border: none;
  background: #F7F7F7;
}

.project-runner > .container {
  text-align: center;
}

.project-runner > .container > h2 {
  font-size: 32px;
  margin: 0;
  padding: 40px 0 40px 0;
}

.project-body {
  float: left;
  height: auto;
  width: 640px;
}

.project-body h3 {
  padding: 20px 0px 20px 0px;
}

.user-video {
  display: block;
  height: 480px;
  width: 600px;
  border-radius: 3px;
  border: 1px soild #333;
}

// .project-runner > a {
//   position: absolute;
//
// }

.background-project {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #F7F7F7;
}

.user-blurb-in-project {
  margin-top: 20px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 20px;
  background: #eef;
}

.new-menu-box {
  padding: 10px 15px;
  background: #fff;
  border: 1px solid #ccc;
  margin-right: 10px

}

.play {
  display: block;
  position: absolute;
  // margin-left: 100px;
  height: 60px;
  width: 100px;
  // background: #3ef;
  background: #000;
  text-align: center;
  font-weight: bold;
  margin-top: 30%;
  margin-left: 40%;
  border-radius: 5px;
  transition: all .3s;
  border: 5px solid #fff;
  color: #fff;
}

.play-center:before {
  // content: "▶    ";
}
.play-center {

  color: #fff;
  font-size:25px;
  height: 30px;
  width: 60px;
  padding-left: 24px;
  padding-top: 15px;
  transition: all .3s;
  // border-top:1px solid lightgray;
  // border-left: 1px solid lightgray;
  // border-right:1px solid lightgray;
  // border-bottom:0;
}

.play:hover {
  background: #090;
}

.play:hover  > .play-center{
  color: #fff;
}

.circle-picture > img {
  height: 80px;
  width: 80px;
  border-radius: 40px;
  border: 1px solid #fff;
}

.project-picture-container {
    position: relative;
    display: block
}

.cat-in-project-show {
  position: absolute;
  margin-top: -30px;
  margin-right: 30px;
  right: 0;
  top: 0;
}

.icon-tag {
  background: image-url('tag.jpeg') no-repeat center;
  height: 10px;
  width: 10px;
}

div.reward-project {
  display: block;
  padding: 20px 10px 20px 20px;
  border-radius: 1px;
  background: #fff;
  transition: all .2s;
  border-bottom: 1px solid lightgray;
  overflow: hidden;
}

.reward-project:hover {
  background: #e45;
  opacity: .1%;
}

// .reward-select-hover {
//   float: left;
//   background: #333;
//   display: block;
//   height: 100%;
//   width: 100%;
//   border-radius: 1px;
//   transition: all .2s;
//   border-bottom: 1px solid lightgray;
//   z-index: 4;
// }

div.reward-project h4 {
  padding: 5px;
  font-weight: bold;

}

div.reward-project p {
  font-weight: 10px;
  padding: 5px;
  // color: #e88;
  font-weight: normal;
}
