// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.front-page-image-container {

  height: 640px;
  widht: 100%;
//  margin-left: 20px;
  background: lightgray;
//  background: image-url();
}