<div class="back">
<div class="project-runner">
  <div class="container">
      <h2>Categories</h2>
  </div>

</div>
<div class="container">
  <div class="catagory-container group">
    <ul class="group">
      <% cats.forEach(function(cat) { %>
        <li class="group"><a href="#/catagory/<%= cat %>" class="cat"><%= cat %></a></li>
      <% }) %>
    </ul>
  </div>
</div>
</div>
