
<div class="project-runner catagory-list">
  <div class="container ">
      <h2><%= cat %></h2>
  </div>

</div>
<div class="container-show">
  <div class="catagory-container-show group">
    <ul class="show-cat-list group">

    </ul>
  </div>
</div>
