<div class="group header">
  <a href="" class="title">
    <span class="kick">KICK</span>
    <span class="starter">STARTER</span>
  </a>
  <a href="#/catagory" class="discover discover-start">Discover</a>
  <a href="#/project/new" class="start discover-start">Start</a>

   <div id="signed-in-out"></div>

<div>
