<div class="group header">
  <a href="" class="title">KickStarter</a>
  <a href="" class="discover discover-start">Discover</a>
  <a href="" class="start discover-start">Start</a>

   <div id="signed-in-out"></div>
<div>
<div class="main-body"></div>
