
  <div class="signin-container-two">
    <div id="errors">
      <%= error %>
    </div>
  <div id="div-border" class="border-div-hidden">


    <h1>Sign In</h1>

    <form class="sign-in" >
      <!-- <label for="email">Email</label>
        <br> -->
      <input class="user-input" placeholder="Email" type="text" name="user[email]" id="email">
        <br>
      <!-- <label for="pass">Password</label>
        <br> -->
      <input  class="user-input" placeholder="Password" type="password" name="user[password]" id="pass">
        <br>
      <button class="submit">Sign In</button>
    </form>
    <div id="guest">
      <p>
        Sign in as a guest
      </p>
    </div>
  </div>
  </div>
