


<div class="singin-container">
  <div class="signin-container-two">

  <div class="border-div">


    <h1>Sign In</h1>
      
    <form class="sign-in" >
      <label for="email">Email</label>
        <br>
      <input class="user-input" type="text" name="user[email]" id="email">
        <br>
      <label for="pass">Password</label>
        <br>
      <input  class="user-input" type="password" name="user[password]" id="pass">
        <br>
      <button id="signin">Sign In</button>
    </form>

  </div>
  </div>
</div>
