
<div class="singin-container">
  <div class="signin-container-two">
    <div id="errors">
      <%= error %>
    </div>
  <div class="border-div">


    <h1>Sign Up</h1>

    <form class="sign-in" >
      <label for="email">Email</label>
      <br>
      <input type="text" name="user[email]" id="email">
      <br>
      <label for="pass">Password</label>
      <br>
      <input type="password" name="user[password]" id="pass">
      <br>
      <button id="signup">Sign Up</button>
    </form>


  </div>
  </div>
</div>
